@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sofia+Sans&display=swap');



.navbar__outer{
    width:100%;
    height:3.5rem;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.navbar__inner{
    width:50%;
    height:100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border-bottom-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}
.navbar__inner__left{
    width:fit-content;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 1rem;
    cursor: pointer;
}
.navbar__inner__center{
    width:fit-content;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    cursor: pointer;
}
.navbar__inner__right{
    width:fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__icon{
    margin: 1rem;
    cursor: pointer;
}