

.profile__outer{
    width:100%;
    height:100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./../../assets/image/home_back6.jpg');
}
.profile__inner{
    width:60%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5rem;
    background-color: white;
    border-radius: 1rem;
}
.profile__inner__image{
    width:200px;
    height:200px;
    border-radius: 50%;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.loading__outer__inner{
    width:200px;
    height:200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.profile__inner__each{
    width:100%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.profile__inner__each__left{
    width:40%;
    height:fit-content;
    flex-direction: column;
}
.profile__inner__each__left__head{
    width:100%;
    height:fit-content;
    color: rgb(244, 72, 72);
    font-size: 20px;
    font-family: var(--font);
}
.profile__inner__each__left__content{
    width:100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.profile__inner__each__left__content__select{
    width:90%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1.4rem;
}
.profile__inner__each__left__content__select__gender{
    width:100%;
    height:fit-content;
    outline: none;
    font-size: 1rem;
    font-family: var(--font);
}
.profile__inner__each__left__content__field{
    width:90%;
    height:1rem;
    border: none;
    outline: none;
    font-size: 15px;
    font-family: var(--font);
    background-color: rgba(198, 197, 197, 0.547);
}
.profile__inner__each__right{
    width:45%;
    height:fit-content;
}
.profile__inner__each__left__content__each{
    width:95%;
    padding: 5px;
    font-family: var(--font);
}
.profile__line{
    width:100px;
    height:3px;
    border-radius: 1rem;
}


.profile__inner__each__button{
    width:100%;
    height:fit-content;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    justify-content: center;
}
.profile__inner__each__button__btn{
    width:fit-content;
    height:fit-content;
    padding: 8px;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    background-color: rgb(244, 72, 72);
    font-family: var(--font);
}




.profile__inner__nav{
    width:100%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.profile__inner__nav__each{
    width:40px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border:1px solid rgb(244, 72, 72);
}
.profile__inner__nav__each:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.profile__inner__nav__line{
    width:30%;
    height:2px;
    background-color: rgb(244, 72, 72);
    margin-bottom: 2rem;
    border-radius: 50%;
}

.profile__inner__notification{
    width:100%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.profile__inner__notification__head{
    width:100%;
    height:fit-content;
    font-size: 30px;
    font-weight: 800;
    font-family: var(--font);
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile__inner__notification__head__small{
    width:90%;
    height:fit-content;
    font-size: 25px;
    font-weight: 800;
    font-family: var(--font);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
}
.profile__inner__notification__addedme{
    width:90%;
    max-height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.profile__inner__notification__addedme__each{
    width:90%;
    padding: 10px;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.profile__inner__notification__addedme__each__image{
    width:100px;
    height: 100px;
    border-radius: 50%;
}
.profile__inner__notification__addedme__each__name{
    width:fit-content;
    height:fit-content;
    font-family: var(--font);
}
.profile__inner__notification__addedme__each__about{
    width:400px;
    height: fit-content;
}
.profile__inner__notification__addedme__each__button{
    width:20px;
    height:20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    font-family: var(--font);
    cursor: pointer;
}
.profile__inner__notification__addedme__each__button:hover{
    
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}